$clouds: rgb(236, 240, 241);
$midnightblue: rgb(44, 62, 80);
$pomegranate: rgb(192, 57, 43);
$turquoise: rgb(26, 188, 156);
$gold: rgb(241, 196, 15);
$blue: rgb(52, 152, 219);

$text-huge: 200px;
$text-big: 20px;
$text-medium: 16px;

$border: 2px solid;
$borderradius: 5px;